@import '~lib/styles/color';

input {
  background: none;
  border: none;
  outline: none;
  &.editor {
    color: #fff;
    flex: 1;
    width: 100%;
    font-size: 1.25rem;
    &::placeholder {
      color: $oc-gray-3;
    }
  }
  &.search {
    border-bottom: 1px solid $oc-gray-3;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: $oc-gray-7;
  }
  &.login {
    background: white;
    padding: 0.45rem;
    width: 100px;
    text-align: center;
  }
  &.tag {
    font-size: 0.85rem;
    flex: 1;
    font-weight: 600;
  }
}
