@import '~lib/styles/color';

.editor-template {
  .editor__header {
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $oc-gray-8;
    color: white;
    .header__left {
      display: flex;
      align-items: center;
      flex: 1;
      .back-icon {
        cursor: pointer;
      }
    }
    .header__right {
      display: flex;
    }
  }
}
