@import '~lib/styles/color';
@import '~lib/styles/shadow';
.header {
  position: fixed;
  top: 0;
  width: 100%;
  .header__content {
    height: 4rem;
    background: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      color: $oc-orange-8;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .header__divider {
    height: 4px;
    background: linear-gradient(to right, $oc-yellow-5, $oc-orange-6);
    @include shadow(1);
  }
}
